{% extends "employee_base.html" %}

{% block title %}
Create or Edit Employee
{% endblock %}

{% load crispy_forms_tags %}

{% block employee_content %}

<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            {{form.first_name|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.last_name|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{form.phone_number|as_crispy_field}}
        </div>
        <div class="col-md-8">
            {{form.email_address|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{form.emp_code|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.position|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.manager_name|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button class="btn btn-success btn-block btn-lg" type="submit">
                <i class="fas fa-user-plus"></i> Submit
            </button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'employee_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-backward"></i> Back to List
            </a>
        </div>
    </div>
</form>

{% endblock %}