{% extends "base.html" %}

{% load static %}

{% block content %}

<div id="About" class="container-fluid row justify-content-center" style="background:#fff;">
    <div class="col-sm-6 my-auto">
        <img src="{% static 'Profile_Image.jpg' %}" width="200" class="mx-auto d-block rounded-circle">
        <h1 class="text-center">Burke Peterson</h1>
        <h3 class="text-center">Software Developer</h3>
        <p class="text-center">San Francisco, CA  |
            <a href="mailto: burke.j.peterson@gmail.com">
                burke.j.peterson@gmail.com
            </a>
        </p>
        <p class="text-center lead">
            Information Systems graduate passionate about software development and data analytics. Learns quickly and
            works best in a team setting. Dedicated to driving efficiency and quality for successful products.
            Proficient in a range of modern technologies including Python, R, and SQL.
        </p>
    </div>
</div>

<div id="Experience" class="container-fluid" style ="background: #f9f9f9;">
    <h2 class="text-center">Experience</h2>
	<div class="card m-5">
		<div class="row">
			<div class="col-sm-4 text-left border-right">
				<div>July 2019 - January 2020</div>
				<h4>Zions Bancorporation</h4>
				<p class="card-subtitle">Software Developer</p>
			</div>
			<div class="col text-left mt-md-3">
                <ul>
                    <li>
                        Promoted to Software Developer after quickly proving my skill to master complex concepts and
                        deliver results.
                    </li>
                    <li>
                        Chosen to pilot Automation Anywhere as an RPA tool decreasing the time to release automation
                        scripts by 33%.
                    </li>
                    <li>
                        Designed automated scripts reducing 60% of the time needed to document and resolve data mapping
                        anomalies.
                    </li>
                </ul>
			</div>
		</div>
	</div>
	<div class="card m-5">
		<div class="row">
			<div class="col-sm-4 text-left border-right">
				<div>May 2018 - July 2019</div>
				<h4>Zions Bancorporation</h4>
				<p class="card-subtitle">Data Analyst</p>
			</div>
			<div class="col text-left mt-md-3">
                <ul>
                    <li>
                        Reduced time spent validating relational database tables transformation by 80% using R, SQL, VBA
                        and Python
                    </li>
                    <li>
                        Assembled documentation related to data transformation of over 3,000 data elements to comply
                        with audit standards.
                    </li>
                    <li>
                        Designed automated scripts reducing 60% of the time needed to document and resolve data mapping
                        anomalies.
                    </li>
                </ul>
			</div>
		</div>
	</div>
	<div class="card m-5">
        <div class="row">
			<div class="col-sm-4 text-left border-right">
				<div>July 2017 - January 2018</div>
				<h4>City 1st Mortgage</h4>
				<p class="card-subtitle">Mortgage Loan Officer</p>
			</div>
			<div class="col text-left mt-md-3">
				<ul>
                    <li>
                        Utilized Salesforce to make ~20 outbound calls per hour pre-screening and verifying potential
                        client’s information.
                    </li>
                    <li>
                        Maintained a high level of professionalism with clients while collecting 9 personal data points
                        for their application.
                    </li>
                    <li>
                        Validated client information to ensure 100% accuracy in compliance with multiple federal
                        regulations and agencies.
                    </li>
                </ul>
			</div>
		</div>
	</div>
</div>

<div id="Education" class="container-fluid" style="background: #fff;">
	<h2 class="text-center">Education</h2>
	<div class="card m-5">
		<div class="row">
			<div class="col-sm-4 text-left border-right">
				<div>August 2015 - December 2018</div>
				<h4>University of Utah</h4>
				<p class="card-subtitle">B.S. Information Systems</p>
			</div>
            <div class="col text-left mt-md-3">
                <ul>
                    <li>Honors at Graduation: Cum Laude; Dean’s List</li>
                    <li>GPA: 3.842</li>
                    <li>
                        <i>Relevant Coursework:
                            <ul>
                                <li>Web Based Applications</li>
                                <li>Data Structures & Java</li>
                                <li>Business Data Mining</li>
                                <li>Systems Analysis & Design</li>
                                <li>Networking and Servers</li>
                                <li>Database Fundamentals</li>
                            </ul>
                        </i>
                    </li>
                </ul>
			</div>
		</div>
	</div>
	<div class="card m-5">
		<div class="row">
			<div class="col-sm-4 text-left border-right">
				<h4>Certifications</h4>
			</div>
            <div class="col mt-md-3">
                <ul>
                    <li>
                        <div class="d-flex">
                            <div>
                                <b>Certified Advanced RPA Professional: </b>
                                <i>Automation Anywhere ID # 14234467</i>
                            </div>
                            <i class="ml-auto">December 2019</i>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex">
                            <div>
                                <b>Big data Hadoop and Spark Developer: </b>
                                <i>Certs-School ID # CS124|115</i>
                            </div>
                            <i class="ml-auto">October 2019</i>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex">
                            <div>
                                <b>Bot Developer: </b>
                                <i>Automation Anywhere ID # 1360311</i>
                            </div>
                            <i class="ml-auto">August 2019</i>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex">
                            <div>
                                <b>SAFE Mortgage License: </b>
                                <i>NMLS # 1656906</i>
                            </div>
                            <i class="ml-auto">September 2017 - December 2018</i>
                        </div>
                    </li>
                </ul>
			</div>
		</div>
	</div>
</div>

<div id="Portfolio" class="container-fluid" style="background: #f9f9f9;">
	<h2 class="text-center mb-4">Portfolio</h2>
    <div class="row gallery justify-content-center">
        <div class="col-sm-6 col-md-4 col-gallery">
            <div class="img-container">
                <a href="/finance/">
                    <img src="{% static 'stock_watchlist.png' %}" class="img-fluid">
                    <div class="overlay">
                        <img src="{% static 'stock_watchlist.gif' %}" class="img-fluid">
                    </div>
				</a>
			</div>
			<h3 class="text-center mt-4">Stock Watchlist</h3>
			<p class="text-center">
                This site allows users to search for stocks based on their ticker and view a few of the top moving
                stocks along with some basic financial information about them. By logging in, users are able to edit and
                view their own personal watchlist.
			</p>
            <i>
                <ul>
                    <li>Built with Django</li>
                    <li>Gathers data and news stories from Yahoo Finance</li>
                    <li>User login:
                        <ul>
                            <li>Google</li>
                            <li>Local</li>
                        </ul>
                    </li>
                    <li>MySQL DB to save user watchlist's</li>
                    <li>Bokeh visualization for candlestick chart of stock price</li>
			    </ul>
			</i>
		</div>
		<div class="col-sm-6 col-md-4 col-gallery">
			<div class="img-container">
                <a href="/employee/">
                    <img src="{% static 'employee_management.png' %}" class="img-fluid">
                    <div class="overlay">
                        <img src="{% static 'employee_management.gif' %}" class="img-fluid">
                    </div>
				</a>
			</div>
			<h3 class="text-center mt-4">Employee Management</h3>
			<p class="text-center">
                This site allows users to manage employee contact information. They are able to create a new employee,
                view and update their contact information. As well as delete the employee. They are able to select the
                employees manager from a list of managers.
			</p>
			<i>
                <ul>
                    <li>Built with Django</li>
                    <li>Uses a form to collect employee information</li>
                    <li>MySQL DB to store employees</li>
                </ul>
			</i>
        </div>
    </div>
</div>

{% endblock content %}