{% extends "base.html" %}

{% block content %}

<h2 style="padding-top:100px">
    Privacy Policy
</h2>
<p>
    Your privacy is important. It is Burke Peterson's policy to respect your privacy regarding any information collected
    from you across this website,
    <a href="http://www.burkepeterson.com">
        http://www.burkepeterson.com
    </a>
    .
</p>
<p>
    Personal information is only collected when necessary to provide a service to you. Collection of data occurs by fair
    and lawful means, with your knowledge, consent and understanding of how it will be used.
</p>
<p>
    Collected information is only retained for as long as necessary to provide you with your requested service. What
    data is stored, will be reasonably protected to prevent loss and theft, as well as unauthorized access,
    disclosure, copying, use or modification.
</p>
<p>
    This website may link to external sites that are not operated by Burke Peterson. Please be aware that Burke Peterson
    has no control over the content and practices of these sites, and cannot accept responsibility or liability for
    their respective privacy policies.
</p>
<p>
    You may refuse to provide your personal information, with the understanding that some of your desired services will
    be unavailable.
</p>
<p>
    Your continued use of the website will be regarded as acceptance of these practices around privacy and personal
    information. If you have any questions about how your data and personal information is used, feel free to contact
    me.
</p>
<p>
    <a href="https://getterms.io" title="Generate a free privacy policy">
        Privacy Policy created with GetTerms.
    </a>
</p>

{% endblock content %}
